body{
  max-width: 100%;
  margin: 0;
  pa;
}
.header{
  width: 100%;
  background-color: aquamarine;
  .navigation{
    width: 80%;
    background-color: blueviolet;
    margin: 0 auto;
  }
  &__logo{
    
    max-width: 100px;
  }


}