@import 'normalise.scss';

@mixin font-lato{
  font-family: 'Lato', sans-serif;
}

$pop-up-bgrnd: rgb(248,248,248);
$li-bgrnd: rgb(204,130,131,.9);
$color-button: rgb(91,131,226, .99);
$color-button-hover: rgb(1,46,223,.7);
$screen-s: 576px;
$screen-m: 768px;
$screen-l: 992px;
$screen-xl: 1200px;
*{
  box-sizing: border-box;
  @include font-lato;
}
// header
.section-header{
  .section-inner{
    width: 100%;
    .section-header-title{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .section-header-logo{
        a{
          img{
            width: 150px;
            transition: .4s;
          }
          img:hover{
            width: 165px;
          }
        }
      }
      .section-header-about{
        nav ul{
          margin: 0;
          padding: 0;
          list-style-type: none;
        }
        nav ul li{
          width: 180px;
          list-style-type: none;
          line-height: 60px;
          text-align: center;
          font-size: 19px;
        }
        nav ul p{
          margin-top: -10px;
        }
        a{
          text-decoration: none;
          color:black;
        }
        nav>ul{
          display: flex;
          justify-content: center;
        }
        nav ul ul{
          display: none;
          position: absolute;
        }
        nav ul ul>li{
          background-color: $pop-up-bgrnd;

        }
        nav ul ul ul{
          display: flex;
          left: 100%;
          top: 0;
        }
        nav ul ul ul div{
          background-color: $pop-up-bgrnd;
          width: 540px;
          height: 370px;
          position: absolute;
          display: flex;
        }
        .div2{
          display: none;
        }

        .menu2 li{
          margin-left: -180px;
        }
        .menu3 li{
          margin-left: -360px;
          width: 180px;
        }
        .menu3 ul{
          margin-left: -180px;
        }
        nav ul ul ul div div{
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 45px 15px;
          width: 270px;
        }
        nav ul ul ul div .button{
          display: flex;
          justify-content: center;
          background-color: $color-button;
          align-self: center;
          font-size: 18px;
          line-height: 45px;
          color: white;
          width: 180px;
        }
        nav ul ul ul div .button::after{
          content: ' \276F';
        }
        nav ul ul ul img{
          width: 200px;
          height: 200px;
        }
        .div1{
          display: flex;
        }
        .left{
          line-height: normal;
          border-right: 5px dotted rgb(27,150,0,.3);
        }
        // hovers
        nav ul li:hover>ul{
          display: inherit;
        }
        .submenu1-2:hover>ul *{
          display: flex;
        }
        .submenu2-2:hover>ul *{
          display: flex;
        }
        .submenu3-2:hover>ul *{
          display: flex;
        }
        .submenu3-3:hover>ul *{
          display: flex;
        }
        .submenu3-4:hover>ul *{
          display: flex;
        }
        .submenu3-5:hover>ul *{
          display: flex;
        }
        nav ul>li:hover{
          background: linear-gradient(to bottom, $li-bgrnd, $pop-up-bgrnd);
        }
        nav ul ul>li:hover{
          background: linear-gradient(to right, $li-bgrnd, $pop-up-bgrnd);
        }
        nav ul ul ul div .button:hover{
          background-color: rgb(3,87,248,.9);
        }
      }

      .section-header-search{
        display: flex;
        align-items: center;
        width: 230px; /* Ширина поля с кнопкой */
        height: 45px;
        border: 1px dotted gray; /* Параметры рамки */
        min-height: 20px; /* Минимальная высота */
        input[type="search"] {
          border: none; /* Убираем рамку */
          outline: none; /* Убираем свечение в Chrome и Safari */
          -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
          width: 80%; /* Ширина поля */
          padding-left: 20px;
          font-size: 14px;
        }
        input[type="submit"] {
          width: 30px; /* Ширина кнопки */
          height: 30px; /* Высота кнопки */
          border: none; /* Убираем рамку */
          background: url("../img/search.png") no-repeat 50% 50%; /* Параметры фона */
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          transition: all 1s ease;
        }
        input[type="search"]:hover+input[type="submit"]{
          -moz-transform: rotate(16deg);
          -o-transform: rotate(16deg);
          -webkit-transform: rotate(16deg);
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          transition: all 1s ease;
        }
      }
    }

    .section-header-advertisment{
      margin-top: 10px;
      width: 100%;
      height: 450px;
      background: url("../img/eng.jpg") no-repeat 50% 50%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      background-size: cover;
      .section-header-courses{
        width: 250px;
        height: 300px;
        background-color: rgb(191,119,122,.9);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: -75px;
        color: white;
          font-size: 34px;
        border-radius: 5px 0 0 5px;
      }
      .section-header-description{
        width: 250px;
        height: 300px;
        background-color: rgb(191,119,122,.9);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 110px;
        margin-bottom: -75px;
        color: white;
          font-size: 20px;
        border-left: 5px dotted hsl(207,7.1%,24.9%,0.8);
        border-radius: 0 5px 5px 0;
      }
    }
  }

  @media(max-width: $screen-m){
    .section-header-about{
      display: none;
    }
  }
  @media(max-width: $screen-l){
    .section-header-title{
      flex-direction: column;
    }
  }
}

//header (end)

.social{
       position: fixed; /* Фиксированное положение */
       right: 10px; /* Расстояние от правого края окна браузера */
       top: 20%; /* Расстояние сверху */
       padding: 10px; /* Поля вокруг текста */
       border: 1px solid rgb(233,233,233,.8); /* Параметры рамки */
       background-color: rgb(255,255,255,.5);
       img{
         width: 32px;
         transition: .4s;
       }
       img:hover{
         width: 38px;
       }
       @media(max-width: $screen-m){
           display: none;
       }
}
//courses Ielts, maritime, Part time english, Long term, Travel talk,
.section-courses{
  .section-inner{
    .section-courses-text{
      background-color: rgb(255,255,255,.99);
      width: 65%;
      .p1{
        padding: 45px 0 0 60px;
        font-size: 26px;
      }
      .p2{
        padding: 20px 0 20px 60px;
        font-size: 18px;
      }
    }
    .section-courses {
      display: flex;
      border-top: 2px groove rgb(50,182,10,.7);
      padding-top: 25px;
      margin-bottom: 25px;
      transition: .4s;
      .section-courses-image{
        img{
          width: 200px;
        }
      }
      .section-courses-description{
        margin-left: 30px;
        .section-courses-about{
          text-align: right;
          margin-top: -15px;
          padding-right: 5px;

          a{
            text-decoration: none;
            color: white;
            padding: 10px;
            margin-right: 5px;
            background-color: $color-button;
          }
          a:after{
            content: ' \276F';
          }
          a:hover{
            background-color: $color-button-hover;
          }
        }
      }
    }
    .section-courses:hover{
      border-top: 5px groove rgb(25,123,4,.9);
    }
  }
    @media(max-width: $screen-s){
      .section-courses{
        flex-direction: column;
      }
    }
    @media(max-width: $screen-xl){
      .section-inner{
        margin-top: 90px;
        padding-left: 40px;
        padding-right: 100px;
        .section-courses-text{
        display: none;
        }
      }
    }
    @media(min-width: $screen-xl){
      .section-inner{
        margin-top: -110px;
        margin-left: 150px;
        width: 60%;
      }
      }
}
// courses(end)

//footer
.section-footer{
  a{
    text-decoration: none;
  }
  .section-inner{
    background-color: $pop-up-bgrnd;
    display: flex;
    flex-direction: column;
    align-items: center;
    .section-footer-about{
      padding-top: 30px;
      width: 75%;
      display: flex;
      justify-content: space-between;
      a{
        color: rgb(171,110,109);
        width: 150px;
        line-height: 15px;
        font-size: 13px;
      }
    }
    .section-footer-contact{
      width: 75%;
      padding-top: 30px;
      border-bottom: 5px groove rgb(50,182,10,.7);
      display: flex;
      justify-content: center;
      a{
        color:$color-button-hover;
        padding: 25px;
        font-size: 18px;
      }
    }
    .section-footer-location{
      padding: 25px 0;
      width: 50%;
      text-align: center;
      a{
        color:$color-button-hover;
      }
    }
  }
}
