@import "normalise.scss";

//Common Settings
*{
  font-family: "Lato", sans-serif;
}
html{
  scroll-behavior: smooth;
}
.button{
  color: white;
  width: 180px;
  background-color: rgba(91, 131, 226, 0.99);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.button-input{
  padding: 10px;
  border: none;
  text-align: center;
  cursor: pointer;
}
a{
  text-decoration: none;
}

//General navigation styles
nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.header{
  &__logo{
    width: 150px;
  }
  &__about{
  display:flex;
  }
   li{
    display: inline-block;
    width: 160px;
    height: 60px;
    cursor: default;
   }
   p{
     font-size: 19px;
     text-align: center;
   }
   &__text{
    margin-top: -10px;
   }
   &__image{
     width: 200px;
   }
   &__sublinks{
     display: none;
     position: relative;
   }
   &__sublink{
    background-color: #f8f8f8;
   }

   // Styles of (beyond...) inner container with 2 link buttons
   &__link-container{
    position: absolute;
    display: flex;
    width: 480px;
    height: 300px;
    margin-left: 160px;
    top: 0;
    background-color: #f8f8f8;
    padding: 45px 10px;
 }

 &__left-container{
  border-right: 5px dotted rgba(27, 150, 0, 0.3);
 }
 .inner-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 50%;
   height: 100%;
 }
 
&__button{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 18px;
    line-height: 45px;
}

.theme__button{
  width: 50px;
  height: 50px;
  transition: 0.8s;
  cursor: pointer;
}

//User respnce header menu 
&__button::after{
  content: ' ❯';
}

 .container-lvl1{
   z-index: 2;
 }
 .ul-lvl2{
   margin-left: -160px;
 }
 .ul-lvl3{
  margin-left: -320px;
}

 &__link:hover{
    background: linear-gradient(to bottom, rgba(204, 130, 131, 0.9), #f8f8f8);
    .header__link-name{
      color: black;
    }
    
  .header__sublinks{
    display: flex;
    flex-direction: column;
  }
}
&__sublink:hover{
  background: linear-gradient(to right, rgba(204, 130, 131, 0.9), #f8f8f8);
  .header__link-container{
    z-index: 3;
  }
}
}
// Big main image style
.background{
  position: relative;
  background: url(../img/eng.jpg) no-repeat 50% 50%;
  width: 100%;
  height: 450px;
  background-size: cover;
  z-index: -1;
  
}
// Main Section
.main-contents{
  width: 80%;
  margin: 0 auto;
}
//Aside
.social{
  position: fixed;
  display: flex;
  right: -57px;
  top: 20%;
  transition: 1.5s;
  &__content{
    //Social img
    &-right{
      display: flex;
      flex-direction: column;
      width: 35px;
      padding: 10px;
      border: 1px solid rgba(233, 233, 233, 0.8);
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px 0 0 10px;
      transition: 0.2s;
      .social__img{
        width: 35px;
        transition: 0.5s;
      }
      .social__img:not(:last-child){
        padding-bottom: 10px;
      }
      .social__img:hover{
        transform: rotate(15deg);
      }
    }

    //Text
    &-left{
      position: relative;
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      background-color: rgba(91, 131, 226, 0.99);
      border-radius: 10px 0 0 10px;
      width: 40px;
      cursor: pointer;
      transition: 0.3s;
      p{
        display: inline-block;
        width: 100%;
        color: white;
        writing-mode: tb-rl;
        transform: rotate(-180deg);
      }
    }
    &-left:hover{
      background-color: rgba(1, 46, 223, 0.75);
    }
  }
}

//creating a "pink book" in background with user response
.promo{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 480px;
  max-height: 260px;
  background-color: rgba(191, 119, 122, 0.9);
  right: 5%;
  bottom: -15%;
  border-radius: 5px;
  padding: 20px;
  transition: 1.7s;
  &__title, &__description{
    display: inline-block;
    width: 50%;
    text-align: center;
    color: rgb(233, 247, 235);
    padding: 8%;
    line-height: 1.5em;
  }
  &__description{
    font-size: 20px;
    line-height: 1.5em;
  }
}
.promo:after {
  content:"";
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 5px dotted rgba(59, 64, 68, 0.8); 
}

// Content
.improve-english{
  position: relative;
  background-color: rgba(255, 255, 255, 0.99);
  width: 45%;
  margin-top: -85px;
  padding: 10px;
  h2, p{
    padding: 10px;
  }
}

//General content styles
.content{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 20px 0;
  border-top: 3px groove rgba(50, 182, 10, 0.7);
  transition: 0.3s;
  img{
    height: 200px;
    width: 200px;
    margin-right: 35px;
  }
  &__about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__button{
    align-self: flex-end;
  }
}
.content:hover{
  border-top: 3px groove rgba(50, 182, 10, 0.95);
}

//Section footer styles
.footer{

  //Links ltyles
  &__about-us{
    display:flex;
    flex-direction: column;
    background-color: rgba(191, 119, 122, 0.65);
  }

  &__links{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
  }

  &__link{
    display: inline-block;
    width: 33.3%;
    padding: 25px 0;
    text-align: center;
    font-size: 15px;
    color: rgb(0, 5, 5);
    transition: 0.3s;
  }

  // Contact us (1 line)
  &__contacts{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__contact-us{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    font-size: 18px;
    text-align: center;
    color: rgba(1, 46, 223, 1);
    border-bottom: 5px groove rgba(50, 182, 10, 0.7);
    transition: 0.5s;
  }
// Adress
  &__adress{
    display: block;
    width: 40%;
    margin: 0 auto;
    padding: 25px;
    font-size: 18px;
    text-align: center;
    line-height: 1.5em;
    a{
      transition: 0.5s;
    }
  }

  // Footer user responce 
  &__contact-us:hover{
    color: rgb(23, 95, 1);
    background-color: rgba(189, 202, 202, 0.1);
  }
  &__link:hover{
    font-weight: 600;
    color: blanchedalmond;
  }
  &__adress{
    a:hover{
      font-weight: 500;
      color: rgb(23, 95, 1);
    }
  }
}
.button:hover{
  background-color: rgba(1, 46, 223, 0.75);
}
.dark{
  display: block;
}